<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/subscribe.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/index.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
	
	<video autoplay loop id="video-background" muted plays-inline class="video-background">
	  <source src="videos/search.mp4" type="video/mp4">
	</video>	

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Seeker</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">About Us</a></li>
				<li><a href="#" accesskey="3" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
			  <div class="search-bar">
				   <input type="text" name="" class="search-txt" placeholder="Search Here..."/>
				   <a class="search-btn" href="search.html">
						<img class="search-btn" src="images/s1.png" alt="Search button">
				   </a>
			  </div>
			</div>
		</div>
	</div>
	<div id="copyright" class="container" style="font-size:24px;">	
		<section class="widget widget_blog_subscription">
			<form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
				<p style="color:#1757ae;font-style: bold;">Subscribe to our newsletter.</p>
				<p>
					<input type="text" name="email" style="width: 95%; padding: 1px 2px; font-style: bold;" placeholder="Enter your email address" value="" id="subscribe-field">
				</p>
				<p>
					<input type="submit" value="Subscribe"  style="color: #1757ae;">
				</p>
			</form>
		</section>
	</div>
</div>
</body>
</html>