<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="filter/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="filter/css/style.css"> <!-- Resource style -->
	<script src="filter/js/modernizr.js"></script> <!-- Modernizr -->
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/subscribe.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="css/search.css" type="text/css">
<link rel="stylesheet" href="css/prod_view.css" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
	
	<video autoplay loop id="video-background" muted plays-inline class="video-background">
	  <source src="videos/search.mp4" type="video/mp4">
	</video>

<body>
	
<div id="header-wrapper" style="height:auto;">
	<div id="header" class="container">
		<div id="logo">
			<h1 style="font-family: 'Source Sans Pro', sans-serif; font-size: 44px;"><a href="index.html">Seeker</a></h1>
		</div>
		<div id="menu" style="margin-top: 22px;">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li class="current_page_item"><a href="#" accesskey="2" title="">About Us</a></li>
				<li class="current_page_item"><a href="#" accesskey="3" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
				  <div class="search-bar">
				   <input type="text" name="" class="search-txt" placeholder="Search Here..."/>
				   <a class="search-btn">
					<img class="search-btn" src="images/s1.png" alt="Search Button">
				   </a>
				  </div>
			</div>
		</div>
	</div>	
	
<div style="position: absolute; left: 2%; top: 60.8%; background-color: white;">
	
	<div class="cd-filter filter-is-visible">
			<form style="width: 280px; background-color: white; padding-left: 20px;">
				<div class="cd-filter-block">
					<h4 class="closed">Brand</h4>

					<ul class="cd-filter-content cd-filters list" style="display: none;">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Samsung</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">OnePlus</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">Xiaomi</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check4" type="checkbox" id="checkbox4">
							<label class="checkbox-label" for="checkbox4">Nokia</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check5" type="checkbox" id="checkbox5">
							<label class="checkbox-label" for="checkbox5">Oppo</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check6" type="checkbox" id="checkbox6">
							<label class="checkbox-label" for="checkbox6">Vivo</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check7" type="checkbox" id="checkbox7">
							<label class="checkbox-label" for="checkbox7">Lenovo</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check8" type="checkbox" id="checkbox8">
							<label class="checkbox-label" for="checkbox8">Apple</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
				
				
				<div class="cd-filter-block">
					<h4 class="closed">RAM</h4>

					<ul class="cd-filter-content cd-filters list" style="display: none;">
						<li>
							<input class="filter" data-filter=".check9" type="checkbox" id="checkbox9">
			    			<label class="checkbox-label" for="checkbox9">2GB</label>
						</li>

						<li>
							<input class="filter" data-filter=".check10" type="checkbox" id="checkbox10">
							<label class="checkbox-label" for="checkbox10">3GB</label>
						</li>

						<li>
							<input class="filter" data-filter=".check11" type="checkbox" id="checkbox11">
							<label class="checkbox-label" for="checkbox11">4GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check12" type="checkbox" id="checkbox12">
							<label class="checkbox-label" for="checkbox12">6GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check13" type="checkbox" id="checkbox13">
							<label class="checkbox-label" for="checkbox13">8GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check14" type="checkbox" id="checkbox14">
							<label class="checkbox-label" for="checkbox14">10GB</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
				
				<div class="cd-filter-block">
					<h4 class="closed">Storage</h4>

					<ul class="cd-filter-content cd-filters list" style="display: none;">
						<li>
							<input class="filter" data-filter=".check15" type="checkbox" id="checkbox15">
			    			<label class="checkbox-label" for="checkbox15">16GB</label>
						</li>

						<li>
							<input class="filter" data-filter=".check16" type="checkbox" id="checkbox16">
							<label class="checkbox-label" for="checkbox16">32GB</label>
						</li>

						<li>
							<input class="filter" data-filter=".check17" type="checkbox" id="checkbox17">
							<label class="checkbox-label" for="checkbox17">64GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check18" type="checkbox" id="checkbox18">
							<label class="checkbox-label" for="checkbox18">128GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check19" type="checkbox" id="checkbox19">
							<label class="checkbox-label" for="checkbox19">256GB</label>
						</li>
						
						<li>
							<input class="filter" data-filter=".check20" type="checkbox" id="checkbox20">
							<label class="checkbox-label" for="checkbox20">512GB</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4 class="closed">Radio buttons</h4>

					<ul class="cd-filter-content cd-filters list" style="display: none;">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">All</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Choice 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Choice 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>
		</div> <!-- cd-filter -->

		<a class="cd-filter-trigger" style="background-color: #41307c; width: 280px;">    Filters</a>
<script src="filter/js/jquery-2.1.1.js"></script>
<script src="filter/js/jquery.mixitup.min.js"></script>
<script src="filter/js/main.js"></script> <!-- Resource jQuery -->
	
</div>
	
	
<div style="position: absolute; left: 13%;">
	<!--Product search code starts here-->
	
<div class="container">
  <div class="col-xs-12 col-md-12" style="position: relative; left: 10%">

	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix" >		
		<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">					
					<div class="product-image">
						<img src="images/oneplus.jpg" class="img-responsive" alt="oneplus">
					</div>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-12" style="position: absolute; left: 23%; border-right: 1px solid #dfe5e9; height: 253px"> 
				<div class="product-deatil" style="height:50px">
						<h5 class="name">
							<a href="#">
								OnePlus 6T
							</a>
							<a href="#">
								<span>OnePlus</span>
							</a>
						</h5>
				</div>
				<div class="description" style="height: 200px;">
					<p style="color:#337ab7; font-size: 14px;">Key Specifications :</p>
					<div style="height: 145px; width: 440px; position: relative">
						<div style="height: 160px; width:210px;">
							<p>
								<img src="images/specs icons/os.png" alt="OS" width="30px" height="30px"> Android 9.0
							</p>
							<p>
								<img src="images/specs icons/screensize.png" alt="Screen Size" width="30px" height="30px"> 6.41 inches
							</p>
							<p>
								<img src="images/specs icons/simcard.png" alt="SIM Card" width="30px" height="30px"> Hybrid Dual SIM
							</p>
							<p>
								<img src="images/specs icons/camera.png" alt="Camera" width="30px" height="30px"> 16 + 20 MP Dual Camera
							</p>
						</div>
						<div style="height: 160px; width:210px; position: absolute; left: 52%; top: 0%;">
							<p>
								<img src="images/specs icons/battery.png" alt="Battery" width="30px" height="30px"> 3700 mAh
							</p>
							<p>
								<img src="images/specs icons/processor.png" alt="Processor" width="30px" height="30px"> SnapDragon 845
							</p>
							<p>
								<img src="images/specs icons/storage.png" alt="Storage Space" width="30px" height="30px"> 128 GB / 256 GB
							</p>
							<p>
								<img src="images/specs icons/ram.png" alt="RAM" width="30px" height="30px"> 6 GB / 8 GB
							</p>
						</div>
					</div>
				</div>
		  </div>
			
			<div class="col-md-4 col-sm-12 col-xs-12" style="position: absolute;left: 65%; height: 253px;">					
				<div>
					<div class="col-md-7" style="width:350px ; height: 126px; border-left: 1px solid #dfe5e9; border-right: 1px solid #dfe5e9; border-bottom: 1px solid #dfe5e9;">

<!-- Website Image box starts here-->
						<div class="col-md-10 col-sm-12 col-xs-18" style="text-align: center; margin-top: 35px; margin-left: 35px;">				
								<div>
									<img src="images/amazon.jpg" alt="amazon" style="height: 50px; width: 150px;">
								</div>			
						</div>
<!-- Website Image box ends here-->												
					</div>
				</div>
				
				<div>
					<div class="col-md-5" style="position: absolute; top:50%; height: 126px; width:350px;border-right: 1px solid #dfe5e9; border-left: 1px solid #dfe5e9;">
						
<!-- Website Price box starts here-->
				<div class="col-md-11 col-sm-12 col-xs-12" style="margin-top:30px; margin-left: 7px;">
					<p style="color: black; font-weight: bold; font-size: 36px; text-align: center; margin-top: 5px">
						<span style="font-family: 'Source Sans Pro', sans-serif;">Rs.44999</span>
					</p>
				</div>						
<!-- Website Price box ends here-->
						</div>			
					</div>
				</div>
			
			</div>
			
		</div>
			
	  </div>
	</div>
<!-- end product -->

<div class="container">
<div class="col-xs-12 col-md-12" style="position: relative; left: 10%;">

<!-- Second product box start here-->
	<div class="prod-info-main prod-wrap clearfix" >		
		<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">					
					<div class="product-image">
						<img src="images/samsung.jpg" class="img-responsive" alt="Samsung">
					</div>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-12" style="position: absolute; left: 23%; border-right: 1px solid #dfe5e9; height: 253px"> 
				<div class="product-deatil" style="height:50px">
						<h5 class="name">
							<a href="#">
								Samsung S9
							</a>
							<a href="#">
								<span>Samsung</span>
							</a>
						</h5>
				</div>
				<div class="description" style="border-bottom: 1px solid #dfe5e9; height: 200px;">
					<p style="color:#337ab7; font-size: 14px;">Key Specifications :</p>
					<div style="height: 145px; width: 440px; position: relative">
						<div style="height: 160px; width:210px;">
							<p>
								<img src="images/specs icons/os.png" alt="OS" width="30px" height="30px"> Android 8.0
							</p>
							<p>
								<img src="images/specs icons/screensize.png" alt="Screen Size" width="30px" height="30px"> 5.8 inches
							</p>
							<p>
								<img src="images/specs icons/simcard.png" alt="SIM Card" width="30px" height="30px"> Single SIM / Hybrid Dual SIM
							</p>
							<p>
								<img src="images/specs icons/camera.png" alt="Camera" width="30px" height="30px"> 12 MP Camera
							</p>
						</div>
						<div style="height: 160px; width:210px; position: absolute; left: 52%; top: 0%;">
							<p>
								<img src="images/specs icons/battery.png" alt="Battery" width="30px" height="30px"> 3000 mAh
							</p>
							<p>
								<img src="images/specs icons/processor.png" alt="Processor" width="30px" height="30px"> Exynos 9810
							</p>
							<p>
								<img src="images/specs icons/storage.png" alt="Storage Space" width="30px" height="30px"> 64 GB / 128 GB / 256 GB
							</p>
							<p>
								<img src="images/specs icons/ram.png" alt="RAM" width="30px" height="30px"> 4 GB
							</p>
						</div>
					</div>
				</div>
		  </div>
			
			<div class="col-md-4 col-sm-12 col-xs-12" style="position: absolute;left: 65%; height: 253px;">					
				<div>
					<div class="col-md-7" style="width:350px ; height: 126px; border-left: 1px solid #dfe5e9; border-right: 1px solid #dfe5e9; border-bottom: 1px solid #dfe5e9;">

<!-- Website Image box starts here-->
						<div class="col-md-10 col-sm-12 col-xs-18" style="text-align: center; margin-top: 35px; margin-left: 35px;">				
								<div>
									<img src="images/amazon.jpg" alt="amazon" style="height: 50px; width: 150px;">
								</div>			
						</div>
<!-- Website Image box ends here-->												
					</div>
				</div>
				
				<div>
					<div class="col-md-5" style="position: absolute; top:50%; height: 126px; width:350px;border-right: 1px solid #dfe5e9; border-left: 1px solid #dfe5e9;">
						
<!-- Website Price box starts here-->
						<div class="col-md-11 col-sm-12 col-xs-12" style="margin-top:30px; margin-left: 7px;">
							<p style="color: black; font-weight: bold; font-size: 36px; text-align: center; margin-top: 5px">
								<span style="font-family: 'Source Sans Pro', sans-serif;">Rs.49990</span>
							</p>
						</div>						
<!-- Website Price box ends here-->
					</div>			
				</div>
			</div>
		</div>
	</div>	
  </div>
</div>
<!-- end product -->
	
<!--Product search code ends here-->
</div>
</div>
</body>
</html>